<%- include('../shared-layouts/header.ejs') %>

  <body>
    <%- include('../shared-layouts/navigation.ejs') %>
    <button>Orders</button>
    <%- include('../shared-layouts/footer.ejs') %>
  </body>